*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --newspaper: rgb(220, 220, 220);
}

body {
  height: 100vh;
  background-color: var(--newspaper);
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 70px; 
}

h2 {
  font-size: 24px;
  font-weight: 540;
}

.board {
  display: grid;
  grid-template-columns: repeat(3, 70px);
  grid-template-rows: repeat(3, 70px);
  gap: 2px;
  background-color: black;
}

.tile {
  background-color: var(--newspaper);
  font-size: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mark {
  font-size: 40px;
}

.sidebar {
  display: grid;
  grid-template-columns: 550px;
  grid-template-rows: repeat(2, 30px);
  justify-items: center;
  align-items: center;
  row-gap: 40px;
}

.sidebar > p {
  line-height: 24px;
  font-size: 26px;
}

.start-button {
  width: 120px;
  border-radius: 15px;
  border-width: 2px;
  background-color: rgb(200, 200, 200);
  font-size: 20px;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 500;
}