*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --newspaper: rgb(220, 220, 220);
}

body {
  height: 100vh;
  background-color: var(--newspaper);
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 70px; 
}

h2 {
  font-size: 24px;
  font-weight: 540;
}

.board {
  display: grid;
  grid-template-columns: repeat(3, 70px);
  grid-template-rows: repeat(3, 70px);
  gap: 2px;
  background-color: black;
}

.tile {
  background-color: var(--newspaper);
  font-size: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mark {
  font-size: 40px;
}

.sidebar {
  display: grid;
  grid-template-columns: 300px 300px;
  grid-template-rows: 30px 30px 50px;
  justify-items: center;
  align-items: center;
  row-gap: 10px;
}

.sidebar > p {
  line-height: 24px;
  font-size: 26px;
}

.goal {
  width: 510.5px;
  grid-row: 1;
  grid-column: 1 / 3;
}

.streak-title, .streak {
  grid-row: 1;
}

.timer-title, .timer {
  grid-row: 2;
}

.streak-title, .timer-title {
  grid-column: 1;
  justify-self: left;
}

.streak, .timer {
  grid-column: 2;
  justify-self: end;
}

button {
  width: 120px;
  margin-top: 10px;
  border-radius: 15px;
  border-width: 2px;
  background-color: rgb(200, 200, 200);
  font-size: 20px;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 500;
}

.start-button, .retire-button {
  grid-row: 3;
  grid-column: 1 / 3;
}

.goal, .streak-title, .streak, .timer-title, .retire-button {
  animation-name: text-fade-in;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

.sidebar.in-game {
  animation-name: sidebar-in-game;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

.sidebar.pre-game {
  animation-name: sidebar-pre-game;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

@keyframes text-fade-in {
  from {
    color: transparent;
  }

  to {
    color: black;
  }
}

@keyframes sidebar-in-game {
  from {
    grid-template-columns: 300px 300px;
  }
  to {
    grid-template-columns: 180px 60px;
  }
}

@keyframes sidebar-pre-game {
  from {
    grid-template-columns: 180px 60px;
  }
  to {
    grid-template-columns: 300px 300px;
  }
}